.card{
    height: 100%;
    width: 100%;
}
.card-header{
    min-height: 180px;
    width: 100%;
display: flex;
justify-content: center;
}
.card-body{
    height: 60%;
    width: 100%;
}
.card-footer{
    
    width: 100%;
    display: flex;
    justify-content: end;
}
 
.person-data{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap: 1%;
    max-height: 350px;
}
.image-field{
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 20%;

}
.image-field img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}
.flex-input{
    display: flex;
  
}
.flex-input button{
    margin:5px 5px 0 5px;
}
.employee-fields{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap: 1%;
}