<div class="container m-3">
    <div class="card">
        <div class="card-header">
            <h1 class="text-primary">Contracts information</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>contract number</th>
                        <th>party name</th>
                        <th>is letter</th>
                        <th>leasing type</th>
                        <th>contract type</th>
                        <th>startDate</th>
                        <th>endDate</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
