<div class="container m-3">
    <div class="card bg-secondary">
        <div class="card-header">
            <h1 class="text-light">Contracts information</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>contract number</th>
                        <th>party name</th>
                        <th>is letter</th>
                        <th>leasing type</th>
                        <th>contract type</th>
                        <th>startDate</th>
                        <th>endDate</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let contract of contracts">
                        <td>
                           <a [routerLink]="[`../contractDetailPage/${contract.id}`]" class="nav-link">
                                 {{contract.contractNumber}}
                           </a> </td>
                        <td>
                            <a [routerLink]="[`/partyPage/partyDetailPage/${contract.partyID}`]" class="nav-link">
                            {{contract.partyName}}
                            </a>
                        </td>
                        <td>{{contract.iSLetter ?"yes":"no"}}</td>
                        <td>{{contract.leasingType}}</td>
                        <td>{{contract.contractType}}</td>
                        <td>{{contract.startDate}}</td>
                        <td>{{contract.endDate}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <h6 class="text-secondary mt-3">
                        count : <span class="bg-secondary">{{contracts?.length}}</span>
                    </h6>
                </tfoot>
            </table>
        </div>
    </div>
</div>
