*{
    margin: 0;
    padding: 0;
}
.disbursement-page{
    /* background-color: grey; */
    width: 100%;
    height: 95%;
    display: flex;
    /* background-color: orange; */
    
}
.side-bar{
    width: 5%;
    /* background-color: gray; */
    height: 100%;
    text-overflow:ellipsis;
}
.side-bar:hover {
    width: 15%;
    transition: .5s;
}
.inner-router-outlet{
    /* background-color: red; */
    width: 95%;
    height: 95%;
}