<div class="container bg-secondary m-3" style="width: 80vw;">
    <div class="card-header"><h1 class="text secondary">Parties</h1></div>
    <div class="card-body">
        
        <form action="">

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3 form-group">
                         <label for="name" class="form-label">name</label>
                         <input type="text" id="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3 form-group">
                         <label for="native-name" class="form-label">Native name</label>
                         <input type="text" id="native-name" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3 form-group">
                         <label for="party-code" class="form-label">party code</label>
                         <input type="text" id="party-code" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3 form-group">
                         <label for="cbe-code" class="form-label">cbe code</label>
                         <input type="text" id="cbe-code" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3 form-group">
                         <label for="is-black-list" class="form-label">is black list</label>
                         <input type="checkbox" id="is-black-list" class="form-check-box">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3 form-group">
                         <label for="party-types" class="form-label">party types</label>
                         <input type="text" id="party-types" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary m-2">Search</button>
                    <button class="btn btn-secondary m-2">Cancel</button>
                </div>
              
            </div>
        </form>
    </div>
    
</div>
