
*{
    padding: 0;
    margin: 0;
}
.bank-side-bar{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: grey;
    flex-direction: column;
    border-radius: 0px 10px 10px 0 ;
}

ul{
    list-style: none;
    width: 100%;
}
.nav-item{

width: 100%;
 padding: 10px 10px;
}
.nav-item:hover{
    background-color: rgb(51, 50, 50);
    transition: .5s;
}
a{
    color: white;
    font-weight: bold;
}