.page{
width: 100vw;
height: 100vh;
/* background-color: green; */
/* background-color: cyan; */
}
.app-header{
    height: 8%;
    width: 100%;
    /* background-color: green; */
}
.router-outlet{
  
    height: 92%;
    width: 100%;
    
}