<div class="container expanded bg-light">
    <div class="card">
        <div class="card-header">
            <h1 class="text-primary">contract</h1>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="form-group col-6">
                    <label for="contractNumber" class="form-label">contract number</label>
                    <input type="text" id="contractNumber" class="form-control">
                </div>
                <div class="form-group col-6">
                    <label for="partyName" class="form-label">Party Name</label>
                    <input type="text" id="partyName" class="form-control">
                </div>
                
            </div>
            <div class="row mt-3">
                <div class="col-1">
                    <button class="btn btn-primary" type="button">search</button>
                </div>
                <div class="col-1">
                    <button class="btn btn-secondary" type="button">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
