 <div class="card">
<div class="card-header">
    <h6 class="text-primary">
        <i class="fa-solid fa-search"></i>
        Employee Search</h6>
</div>
<div class="card-body">
<div class="employee-form">
    <div class="form-group">
        <label for="firstName" class="form-label">first Name</label>
    <input type="text" id="firstName" class="form-control">
</div>
<div class="form-group">
    <label for="lasatName" class="form-label">lasat Name</label>
    <input type="text" id="lastName" class="form-control">
</div>
<div class="form-group">
    <label for="department" class="form-label">Department</label>
    <input type="text" id="department" class="form-control">
</div>
<div class="form-group">
    <label for="firstName" class="form-label">first Name</label>
    <select class="form-select">
        <option value="1">Active</option>
        <option value="2">Terminated</option>
        <option value="3">leave of absence</option>
    </select>
</div>
</div>
</div>
<div class="card-footer">

    <div class="search-btns">
        <button class="btn btn-primary ">
            <i class="fa-solid fa-magnifying-glass"></i>
            <p>Search</p>
            </button>
        <button class="btn btn-secondary ">
            <i class="fa-solid fa-x"></i>
             <p>Clear</p>
            </button>
    </div>
</div>

</div>