.card{
    width: 100%;
    /* display: flex; */
}
.bank-fields{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap: 10px;
}
.description{
    grid-column: 1/3;
    grid-row: 4/5;
}
.card-footer{
    display: flex;
    justify-content: end;
}
button{
    margin:5px 10px;
}