<div class="card">
<div class="card-header">
        <h3 class="text-primary d-flex">
            <i class="fa-solid fa-users"></i>
            <p>Employees</p> </h3>
        <button class="btn btn-primary">
            <i class="fa-solid fa-file-export"></i>
            <span class="text-light">Export</span>
            </button>
</div>
<div class="card-body">

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Reports to </th>
                <th>Email</th>
                <th> Phone</th>
                <th> Status</th>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of response?.value?.items">
            <td><a [routerLink]="['../EmployeeDetailPage',emp.id]">{{emp.fName }}</a> </td>
            <td>{{emp.department}}</td>
            <td>S{{emp.reportsTo}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.mobilePhone}}</td>
            <td>{{emp.status}}</td>
            <td>{{emp.userName}}</td>
        </tr>
        
        
    </tbody>
</table>
</div>
<div class="card-footer">
    <div class="pagination">
        <button (click)="GetPrevious(response?.value?.pageNumber??1)" [disabled]="!response?.value?.hasPreviousPage" class="btn btn-outline-primary">Previous</button>
        <span class="text-align-self mt-1">Page {{response?.value?.totalPages}} / {{response?.value?.pageNumber}} </span>
        <button (click)="Getnext(response?.value?.pageNumber??1)" [disabled]="!response?.value?.hasNextPage" class="btn btn-outline-primary">Next</button>
    </div>
</div>
</div>

