*{
    padding: 0;
    margin: 0;

}
.nav-bar{
    display: flex;
    color: white;
    /* justify-content: space-between; */
}
.nav-bar .home-icon{
    font-size: 40px;
    background-color: grey;
    padding:0 10px;
}
.nav-links{
    width: 45%;
    display: flex;
    padding: 15px;
    height: 15px;
    background-color: rosybrown;
    overflow: hidden;
}
.nav-bar .nav-links nav ul{
     
    display: flex;
    list-style: none;
    
}

.nav-bar .nav-links nav ul a{
    color: white;
    
    text-decoration: none;
margin:  0 20px;
font-size: 20px;
}
.nav-bar .search{
    /* padding: 10px; */
    margin-left: 5px;
    width: 40vw;
    background: linear-gradient(blue, black);
}
 .nav-bar .search input{
height: 30px;
 
}
.nav-bar .demo{
    /* margin-left: 350px; */
background-color: rosybrown;
padding: 0 10px;
justify-content: center;
align-items: center;
display: flex;
}
.nav-bar .right-side{
    background-color: green;
    justify-content: center;
    padding: 6px;
    margin-left: 2px;
    align-items: center;
    display: flex;
    margin-right: 0;
}
