.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(148, 47, 47);
    padding:10px 20px ;
}

ul{
    list-style: none;
} 
.nav-items{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 5%;
}
.nav-item{
   padding: 5px 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}
.nav-item:hover{
    background-color: orange;

}
.nav-link{
    display: flex;
    /* align-items: center; */
}
.nav-link i{
font-size: 30px;
line-height: 1;
}