*{
    padding: 0;
    margin: 0;

}

.nav-items li{
    /* display: inline; */
    flex-direction: row;
    width: 100%;
}
ul{
    list-style: none;
}
.nav-item{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    /* display: inline-flex; */
    border: 1px solid black;
    width: 100%;
}
li:hover{
    background-color: black;
    width: 120%;
    transition: .5s;
}
.header{
    background-color: grey;
   
 height: 5%;
 width: 100%;
}
.nav-items{
    width: 100%;
}
.ul-horizontal{
/* display: inline; */
 display: flex;
    justify-content: space-between;
}
/* ul{
    height: 6vh;
} */